name: DRAM Price Bot

on:
  schedule:
    # UTC 기준 시간입니다. (한국 시간 - 9시간)
    # 오후 1시(04:00), 오후 4시(07:00), 오후 8시(11:00)
    - cron: '0 4,7,11 * * *'
  workflow_dispatch: # 수동으로 실행해볼 수 있는 버튼 생성

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 저장소 코드 가져오기
        uses: actions/checkout@v3

      - name: 파이썬 설정
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 필수 라이브러리 설치
        run: |
          pip install requests beautifulsoup4 pandas openpyxl

      - name: 파이썬 코드 실행
        run: python 바탕화면고정코드.py
